# Random forest for fraud dataset

In [1]:
import pandas as pd 
import numpy as np

In [2]:
fraud = pd.read_csv("Fraud_check.csv")
fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [3]:
fraud.shape

(600, 6)

In [4]:
fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

In [5]:
# since our target variable is Taxable income soo we convert that into categorical as said
'''prepare a model on fraud data 
treating those who have taxable_income <= 30000 as "Risky" and others are "Good"'''

'prepare a model on fraud data \ntreating those who have taxable_income <= 30000 as "Risky" and others are "Good"'

In [6]:
fraud.loc[fraud['Taxable.Income'] <= 30000,'Tax'] = 'Risky'
fraud.loc[fraud['Taxable.Income']>30000 , 'Tax'] = 'Good'

In [7]:
fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,Tax
0,NO,Single,68833,50047,10,YES,Good
1,YES,Divorced,33700,134075,18,YES,Good
2,NO,Married,36925,160205,30,YES,Good
3,YES,Single,50190,193264,15,YES,Good
4,NO,Married,81002,27533,28,NO,Good
...,...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES,Good
596,YES,Divorced,69967,55369,2,YES,Good
597,NO,Divorced,47334,154058,0,YES,Good
598,YES,Married,98592,180083,17,NO,Good
599,NO,Divorced,96519,158137,16,NO,Good

In [8]:
fraud1 = fraud.drop(['Taxable.Income'], axis=1)

In [9]:
fraud1

    Undergrad Marital.Status  City.Population  Work.Experience Urban   Tax
0          NO         Single            50047               10   YES  Good
1         YES       Divorced           134075               18   YES  Good
2          NO        Married           160205               30   YES  Good
3         YES         Single           193264               15   YES  Good
4          NO        Married            27533               28    NO  Good
..        ...            ...              ...              ...   ...   ...
595       YES       Divorced            39492                7   YES  Good
596       YES       Divorced            55369                2   YES  Good
597        NO       Divorced           154058                0   YES  Good
598       YES        Married           180083               17    NO  Good
599        NO       Divorced           158137               16    NO  Good

[600 rows x 6 columns]

In [10]:
#using the label encoder for Undergrade, Marital.Status , Urban columns 
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [11]:
fraud1['Undergrad'] = label_encoder.fit_transform(fraud1['Undergrad'])
fraud1['Marital.Status'] = label_encoder.fit_transform(fraud1['Marital.Status'])
fraud1['Urban'] = label_encoder.fit_transform(fraud1['Urban'])

In [12]:
fraud1

     Undergrad  Marital.Status  City.Population  Work.Experience  Urban   Tax
0            0               2            50047               10      1  Good
1            1               0           134075               18      1  Good
2            0               1           160205               30      1  Good
3            1               2           193264               15      1  Good
4            0               1            27533               28      0  Good
..         ...             ...              ...              ...    ...   ...
595          1               0            39492                7      1  Good
596          1               0            55369                2      1  Good
597          0               0           154058                0      1  Good
598          1               1           180083               17      0  Good
599          0               0           158137               16      0  Good

[600 rows x 6 columns]

In [13]:
#spliting the data x=variable and y=variable 
x=fraud1.iloc[:,0:-1]
y=fraud1.iloc[:,-1]

In [14]:
x

     Undergrad  Marital.Status  City.Population  Work.Experience  Urban
0            0               2            50047               10      1
1            1               0           134075               18      1
2            0               1           160205               30      1
3            1               2           193264               15      1
4            0               1            27533               28      0
..         ...             ...              ...              ...    ...
595          1               0            39492                7      1
596          1               0            55369                2      1
597          0               0           154058                0      1
598          1               1           180083               17      0
599          0               0           158137               16      0

[600 rows x 5 columns]

In [15]:
y

0      Good
1      Good
2      Good
3      Good
4      Good
       ...
595    Good
596    Good
597    Good
598    Good
599    Good
Name: Tax, Length: 600, dtype: object

In [16]:
#creating the random forest classification model 
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

#num_trees = 100
#max_features = 3 
#kfold = KFold(n_splits=5)

#model = RandomForestClassifier(n_estimators=num_trees , max_samples=0.7,max_features=max_features,random_state=8)

rf = RandomForestClassifier(n_jobs=2,oob_score=True,n_estimators = 100,criterion='entropy')
rf.fit(x,y)

RandomForestClassifier(criterion='entropy', n_jobs=2, oob_score=True)

In [17]:
fraud1['rf_pred'] = rf.predict(x)

In [18]:
fraud1

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,Tax,rf_pred
0,0,2,50047,10,1,Good,Good
1,1,0,134075,18,1,Good,Good
2,0,1,160205,30,1,Good,Good
3,1,2,193264,15,1,Good,Good
4,0,1,27533,28,0,Good,Good
...,...,...,...,...,...,...,...
595,1,0,39492,7,1,Good,Good
596,1,0,55369,2,1,Good,Good
597,0,0,154058,0,1,Good,Good
598,1,1,180083,17,0,Good,Good
599,0,0,158137,16,0,Good,Good

In [19]:
from sklearn.metrics import confusion_matrix 
confusion_matrix(fraud1['Tax'],fraud1['rf_pred'])

array([[476,   0],
       [  0, 124]], dtype=int64)

In [20]:
#creating the model by using the gini

In [21]:
#creating the random forest classification model 
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

num_trees = 100
max_features = 3 
kfold = KFold(n_splits=5)

model = RandomForestClassifier(n_estimators=num_trees , max_samples=0.7,max_features=max_features,random_state=8)
results = cross_val_score(model,x,y,cv=kfold)
print(results.mean())

0.7583333333333334